.html-container
  .action-buttons
    %span.btn.btn-success.html-convert-btn Submit
  .html-section
    = form_tag convert_html_path do
      = text_area_tag 'data[html]', @html.html, id: 'html_query', class: 'html-query', placeholder: 'HTML'

      .old-ruby-checkbox
        %label
          = check_box_tag 'data[old_ruby]', true
          Ruby 1.9.3 syntax
  .haml-section
    .result-container
      = text_area_tag 'data[haml]', @html.output, id: 'html_result', class: 'haml-query', placeholder: 'HAML'

  .action-buttons
    %span.btn.btn-success.html-convert-btn Submit

