.coffee-wrapper
  .js-container
    .coffee-section
      %label JavaScript
      = text_area_tag 'data[js]', '', id: 'js_query', class: 'js-query'
    .js-section
      %label CoffeeScript
      = text_area_tag 'data[coffee]', '', id: 'coffee_query', class: 'coffee-query'
